@import url("https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B");

* {
  padding: 0;
  margin: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}
h2 {
  color: aliceblue;
}

p {
  color: aliceblue;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: black;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

nav {
  width: 100%;
  height: 10vh;
  position: sticky;
}

.nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: "space-around";
  align-items: center;
}

.logo {
  color: rgb(91, 143, 185);
  font-size: 2rem;
  font-weight: bold;
}

.logo span {
  color: rgb(182, 234, 218);
  text-shadow: 0 0 10px rgb(182, 234, 218);
}

.hamburg,
.cancel {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 10px;
  color: rgb(255, 255, 255);
  display: none;
  font-size: clamp(2.5rem + 5vw, 3rem);
}

.nav-container .links {
  display: flex;
}

.nav-container .links a {
  position: relative;
  font-size: 1.2rem;
  color: white;
  margin: 0 20px;
  text-decoration: none;
  font-weight: 550;
  transition: 0.3s linear;
}

.nav-container .links a::before {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: aqua;
  transform: 0.2s linear;
}

.nav-container .links a:hover::before {
  width: 100%;
}

.nav-container .links a:hover {
  color: aqua;
}

.dropdown {
  z-index: 100;
  position: absolute;
  top: 0;
  transform: translateY(-500px);
  width: 100%;
  height: auto;
  backdrop-filter: blur(4px) brightness(40%);
  box-shadow: 0 0 20px black;
  transition: 0.2s linear;
}

.dropdown .links a {
  display: flex;
  color: white;
  text-decoration: none;
  justify-content: center;
  padding: 15px 0;
  align-items: center;
  transition: 0.2s linear;
}

.dropdown .links a:hover {
  background-color: aqua;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  display: flex; /* فلکس برای وسط‌چین کردن */
  flex-direction: column; /* متن‌ها زیر هم */
  justify-content: center; /* وسط عمودی */
  align-items: center; /* وسط افقی */
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-container .image {
  width: 200px;
  height: 30vh;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0 0 50px aqua;
}

.main-container .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
.main-container .image:hover {
  animation: animate 1.5s ease-in-out infinite;
}

@keyframes animate {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.05;
  }

  100% {
    scale: 1;
  }
}

.main-container .content {
  color: white;
  width: 40%;
  min-height: 100px;
  margin-left: 100px; /*distance from left*/
}

.content h1 {
  font-size: clamp(1rem, 1rem + 5vw, 1.8rem);
}

.content h1 span {
  color: aqua;
  text-shadow: 0 0 10px aqua;
}

.content .typewriter {
  font-size: clamp(1rem, 1rem + 5vw, 2.5rem);
  font-weight: 600;
}

.content .typewriter-text {
  color: aqua;
  text-shadow: 0 0 10px aqua;
}

.content p {
  font-size: clamp(0.4rem, 0.2rem + 9vw, 1rem);
  margin: 10px 0;
}

.social-links i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border: 0.2rem solid aqua;
  border-radius: 50%;
  color: aqua;
  margin: 0 15px;
  font-size: 1.5rem;
  transition: 0.2s linear;
}

.social-links i:hover {
  scale: 1.3;
  color: rgb(0, 0, 0);
  background-color: aqua;
  filter: drop-shadow(0 0 10px aqua);
}

.content button {
  width: 50%;
  height: 6vh;
  margin: 30px;
  background-color: aqua;
  color: rgb(0, 0, 0);
  border: none;
  outline: none;
  font-size: 120%;
  font-weight: 700;
  border-radius: 5px;
  transition: 0.2s linear;
}

.content button:hover {
  scale: 1.1;
  color: aqua;
  border: 2px solid aqua;
  background-color: transparent;
  font-weight: 700;
  box-shadow: 0 0 40px aqua;
}
.hamburg,
.cancel {
  display: block;
}

@media (min-width: 1024px) {
  /*desktop*/
  .main-container .image {
    width: 200px;
    height: 30vh;
    position: absolute; /* برای اینکه آزاد بشه */
    top: 200px; /* فاصله از بالا */
    left: 150px; /* فاصله از راست */
    border-radius: 100%; /* گوشه‌های بیضی */
    overflow: hidden;
    box-shadow: 0 0 30px aqua;
  }

  .main-container .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }
}

@media (max-width: 884px) {
  nav .logo {
    position: absolute;
    top: 16px;
    left: 15px;
    font-size: 1.5rem;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center; /*for img*/
  }
  .nav-container .links {
    display: none;
  }
  .hamburg,
  .cancel {
    display: block;
  }

  .main-container .content {
    width: 80%;

    margin-top: 40px; /* فاصله از متن */
  }

  .social-links {
    margin-top: 20px; /* فاصله از متن */
  }
  .social-links i {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
  }

  .main-container .image {
    z-index: -1;
    width: 30%;
    height: 30%;
    margin-top: 30px;
    align-items: center;
  }

  .image img {
    text-align: center;
  }
  /* image has sth wrong ???  */
}

@media (max-width: 440px) {
  .main-container {
    padding: 10px;
    min-height: 100vh;
  }
  .main-container .image {
    width: 50%;
    height: 40%;
  }
  .main-container .content {
    width: 80%;
  }

  .main-container button {
    margin-top: 15px;
  }
}
/*section experience*/
.sect {
  color: rgb(182, 234, 218);
  text-shadow: 0 0 10px rgb(182, 234, 218);
  margin-top: 90px;
  text-align: center;
}
.projects {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 25px; /* فاصله بین کارت‌ها */
}

.projects-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.projects .projects-card {
  color: white;
  width: 40%;
  min-height: 100px;
}

.project-title {
  text-decoration: none;
  color: rgb(91, 143, 185);
  margin-bottom: 25px; /* فاصله بین کارت‌ها */

  font-weight: 500;
}

.view-link {
  display: block;
  margin-left: auto;
  width: fit-content;
  padding: 8px 16px;
  background-color: aqua;
  color: rgb(0, 0, 0);
  border: none;
  outline: none;
  font-size: 120%;
  font-weight: 700;
  border-radius: 5px;
  transition: 0.2s linear;
  text-decoration: none; /* چون لینک هست */
  margin-bottom: 25px; /* فاصله بین کارت‌ها */
}
.view-link:hover {
  scale: 1.1;
  color: aqua;
  border: 2px solid aqua;
  background-color: transparent;
  box-shadow: 0 0 40px aqua;
}

.projects-card p {
  font-size: clamp(0.4rem, 0.2rem + 9vw, 1rem);
  margin: 0px 0;
}

/*section education*/

.uni-projects {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 👈 کارت‌ها سمت چپ */
  gap: 30px;
  padding: 20px;
}

.uni-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: white;
  box-shadow: 0 0 20px aqua;
}

.uni-card h3.uni-title {
  font-weight: 500;
  margin-bottom: 15px;
  color: aliceblue;
}

.uni-card p {
  font-size: clamp(0.8rem, 0.6rem + 1vw, 1rem);
  margin: 5px 0;
}

/*section skill*/

#skills {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 40px 0;
}

.skill-card {
  position: relative;
  width: 200px;
  height: 200px;
}
.skill-card .rating {
  position: relative;
  width: 100%;
  height: 100%;
  /* background-color: aqua; */
}

.skill-card .rating .block {
  /*3:40*/
  position: absolute;
  width: 2px;
  height: 15px;
  background: #ffffff;
  left: 50%;
  transform-origin: 50% 100px; /*قطر*/
  /* transform: rotate(15deg); */
  opacity: 0;
  animation: animate 0.1s linear forwards;
}

@keyframes animate {
  to {
    opacity: 1;
  }
}

.skill-card .rating .block:nth-child(-n + 91) {
  background-color: rgb(255, 0, 0);
  box-shadow: 0 0 15px red, 0 0 30px red;
}
.skill-card .rating h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
  line-height: 1.5em;
}

.skill-card .rating h2 span {
  font-size: 2.5em;
  font-weight: 700;
}

.skill-card .rating h2 sup {
  font-size: 1.5em;
  font-weight: 300;
}
